<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-aliyun-svideo-pro" version="3.16.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AliyunSVideoPro</name>
    <js-module name="AliyunSVideoPro" src="www/AliyunSVideoPro.js">
        <clobbers target="cordova.plugins.AliyunSVideoPro" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AliyunSVideoPro">
                <param name="android-package" value="org.apache.cordova.aliyunsvideopro.AliyunSVideoPro" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.FLASHLIGHT" />
            <uses-permission android:name="android.permission.RECORD_VIDEO" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <source-file src="src/android/AliyunSVideoPro.java" target-dir="org/apache/cordova/aliyunsvideopro" />
        <framework src="src/android/AliyunSVideoPro.gradle" custom="true" type="gradleReference"/>
        <source-file src="src/android/config.gradle" target-dir="app/thirdparty-lib"/>
        <source-file src="libs/android/AlivcConan-1.0.3.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/AlivcMedia.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/AlivcFFmpeg-2.0.0.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/AliyunEditor.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/AliyunFileDownLoader.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/AliyunRace-1.2.0.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/AliyunRaceSample.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/AliyunResample.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/AliyunSVideoBase.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/AliyunSvideoMusic.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/AliyunSVideoPro.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/AliyunVideoCommon.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/crop.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/record.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/svideopro-3.16.0.aar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/core-1.2.2.jar" target-dir="app/libs/aliyun_svideo"/>
        <source-file src="libs/android/upload-1.6.0.jar" target-dir="app/libs/aliyun_svideo"/>
    </platform>
</plugin>